.hp004 {
  &__articles {
    @media (min-width: $break-ipad) {
    }

    &__header {
      text-align: center;
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;

      @media screen and (min-width: $break-mobile) {
        text-align: left;
        margin-bottom: 40px;
      }
    }
  }

  &__ads {
    width: 100%;

    @media (min-width: $break-mobile) {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
  }
}