.rec001 {
  padding-right: 14px;
  margin-bottom: 25px;

  @media screen and (min-width: $break-ipad) {
    margin-bottom: 80px;
  }

  &-header {
    margin-bottom: $vertical-margin;

    &__title {
      margin-bottom: 30px;
    }

    &__img {
      max-width: 100%;
    }
  }

  &-body__text-inner {
    .rec001-body {
      &__headline {
        padding-bottom: 30px;
        border-bottom: $border-light-grey;
      }

      &__text {
        margin-bottom: $vertical-margin;

        &-title {
          margin-bottom: $vertical-margin;
        }
      }

      &__tags {
        display: flex;
        flex-direction: row;
        font-family: Karmilla;
        font-weight: bold;
        font-style: 16px;
        border-top: $border-light-grey;
        padding-top: 25px;

        & > * {
          margin: 0 15px 0 0;
        }

        p {
          color: $black;
        }

        a {
          color: $dark-grey;

          :hover {
            text-decoration: underline;
          }
        }
      }

      &__content {
        p {
          @extend .rec001-body__text;
          @extend .playfair;
          @extend .playfair--e10;
        }
      }
    }
  }
}