// Breakpoints
$break-ipad: 992px;
$break-mobile: 768px;

// Margins
$margin: 15px;
$vertical-margin: 40px;
$vertical-margin-mobile: 30px;

// Borders
$border-light-grey: 1px solid #e1e1e1;
$border-black: 1px solid #252525;

// Icons
$icon-asterisk: "\e900";