.cpt006 {
  position: relative;

  &__text {
    color: $black;
    z-index: 1;
    align-self: center;
    padding: 20px;

    @media screen and (min-width: $break-mobile) {
      order: 1;
      padding: 40px 25px;
    }

    @media screen and (min-width: $break-ipad) {
      order: 0;
    }

    &--left {
      @media screen and (min-width: $break-mobile) {
        left: 0;
      }

      @media screen and (min-width: $break-ipad) {
        left: 3%;
      }
    }

    &--right {
      @media screen and (min-width: $break-mobile) {
        right: 0;
      }

      @media screen and (min-width: $break-ipad) {
        right: 3%;
      }
    }

    @media screen and (min-width: 1200px) {
      padding: 60px 50px;
    }

    &--bck {
      padding: 10px;

      &-saude {
        background-color: $light-green;
      }

      &-alimentacao {
        background-color: $green-blue;
      }

      &-corpo-mente {
        background-color: $light-blue;
      }

      &-beleza {
        background-color: $purple;
      }

      &-familia {
        background-color: $orange;
      }

      &-paciente {
        background-color: $yellow;
      }

      &-sponsor {
        background-color: $pink;
      }

      &-especialista {
        background-color: $black;
      }
    }

    .cpt001__tag {
      margin-top: 20px;
    }

    .cpt001__title {
      margin-bottom: 12px;
    }

    .cpt001__paragraph {
    }
  }

  &__centered {
    text-align: center;
  }

  &__img {
    background-image: url('../images/cpt006.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    background-position: 50%;

    @media screen and (min-width: $break-mobile) {
      height: 450px;
    }

    &--border {
      &-sponsor {
        border: 10px solid $pink;
      }
    }
  }
}