.cpt017 {
  display: flex;
  flex-direction: row;

  &:first-child {
    margin-bottom: 15px;

    @media screen and (min-width: $break-mobile) {
      margin-right: 15px;
    }
  }

  &__no-margin {
    margin: 0 !important;
  }

  &__img {
    border-radius: 50%;
    align-self: flex-start;
    border: $border-light-grey;
    width: 60px;
    margin-right: 10px;
  }

  &__text {
    &-title {
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 0;
    }

    &-name {
      margin-bottom: 0;
      line-height: 22px;
    }

    &-description {
      margin-bottom: 0;
      line-height: 24px;
    }
  }
}